.footer-container {
  padding: 50px;
  background-color: #ececec;
}
.footer-title {
  display: flex;
  justify-content: space-between;
}
.footer-title a {
  color: #399500;
  text-decoration: none;
  font-size: 25px;
}
